<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          NNFL
        </a>
      </h1>
      <p class="lead">BITS Pilani, Pilani campus.</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item active" href="/index.html">Home</a>
      <a class="sidebar-nav-item" href="/about.html">Syllabus</a>
          
      <a class="sidebar-nav-item" href="">Handout</a>
      <a class="sidebar-nav-item" href="/practicum.html">Practicum</a>
      

      
    </nav>

    <p>&copy; 2022. All rights reserved.</p>
  </div>
</div>
